* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

#basegridlayout {
    display: grid;
    grid-template-rows: 100vh 100rem 15rem;
}

#headergridlayout-bgimg {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    background-image: url(images/headerbgimg.jpg);
    background-size: cover;
}

#navmenu {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 1rem;
    column-gap: 0.5rem;


}

#menubutton {
    border: none;
    background-color: transparent;
    color: white;

}

#menutext {
    color: white;



}