/*
Color: rgb(47, 22, 22)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 22, 22);
}

#basegridlayout {
    display: grid;
    grid-template-rows: 100vh 1fr 15rem;
}

#headergridlayout-bgimg {
    display: grid;
    grid-template-rows: repeat(2, 5rem) 1fr 5rem;
    background-image: url(images/headerbgimg.jpg);
    background-size: cover;
    box-shadow: 0px 10px 20px #000000;
}

#headertopbar {
    display: grid;
    grid-template-columns: 24rem 1fr 20rem 1fr 24rem;
    margin: 0 1rem 0 1rem;
    border-bottom: 2px solid #f9f5ec;
}

#header-menu {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 5px;
    column-gap: 2rem;
    align-self: center;
}

#header-menu a {
    text-decoration: underline transparent;
    color: #f9f5ec;
    font-size: 20px;
    transition: 0.2s;
}

#header-menu a:hover {
    cursor: pointer; 
    text-decoration: underline #f9f5ec;
    transition-timing-function: linear;
    transition: 0.2s;
}

#headerlogo {
    width: 20rem;
    max-height: 40px;
    align-self: center;
}

#headerlogotxt {
    color: #f9f5ec;
    font-size: 42px;
    align-self: center;
    justify-self: center;
}

#headerweekcnt {
    display: flex;
    margin-left: auto;
}

#headerweekcnt p {
    color: #f9f5ec;
    font-size: 22px;
    align-self: center;
    margin-right: 0.5rem;
}

#headertop1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: #f9f5ec;
    font-size: 24px;
}

#headerbottom {
    display: grid;
    justify-content: center;
}

#headerbottombox {
    display: grid;
    width: 20rem;
    justify-items: center; 
    border-top: 1px solid #f9f5ec;

}

.header-button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #f9f5ec;
    scale: 1.5;
}

button:hover {
    cursor: pointer; 
}