/* Color: #f9f5ec */

#maingridlayout {
    display: grid;
    grid-template-rows: 9rem 1fr;
    grid-template-columns: 70% 1fr;
    column-gap: 2rem;
    margin: 0 2rem 0 2rem;
}

.maintoptext {
    display: grid;
    justify-content: center;
    align-self: center;
    font-size: 30px;
    border-bottom: 2px solid #f9f5ec;
}

.maintoptext p {
    margin: 2rem 0 1rem 0;
    color: #f9f5ec;
}

#articlegridlayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    row-gap: 2rem;
    border-right: 2px solid #f9f5ec;
}

#articlegridlayout article {
    display: grid;
    min-height: 100%;
    grid-template-columns: auto 1fr;
    margin-right: 2rem;
}

.article-div-img {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(47, 22, 22);
}

.wineimg {
    max-height: auto;
    max-width: 7rem;
    margin: 0 7rem 0 7rem;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
    transition-timing-function: linear;
    transition-duration: 0.4s;
}

.wineimg:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    scale: 1.01;
}

.articlecnt {
    display: grid;
    max-width: 40rem;
    grid-template-rows: 15% 1fr repeat(3, 12%);
    background-color: #f9f5ec;
    padding: 1.5rem;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 2px 10px 20px;
    cursor: default;
}

.article-h1 {
    width: fit-content;
    align-self: center;
    font-size: 28px;
    text-decoration: underline #f9f5ec;
    transition: 0.3s;
}

.article-h1:hover {
    cursor: pointer;
    text-decoration: underline black;
    transition: 0.3s;
}

.article-info1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.article-info1 p {
    align-self: center;
}

.wine-type-red {
    padding-right: 1rem;
    margin-left: 5px;
    font-size: 14px;
    background-color: rgb(104, 0, 0); 
    color: rgb(104, 0, 0); 
}

.wine-type-white {
    padding-right: 1rem;
    margin-left: 5px;
    font-size: 14px;
    background-color: #fff6e2; 
    color: #fff6e2;
    border: 1px solid black;
}

.article-button {
    display: grid;
}

.article-button a {
    align-self: center;
    text-align: center;
    margin-top: auto;
    text-decoration: none;
    color: #f9f5ec;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.article-button a:hover {
    opacity: 0.8;
    transition: 0.2s;
}
