/* Color: #f9f5ec */

#maingridlayout {
    display: grid;
    height: 100%;
    grid-template-rows: 9rem 1fr;
    grid-template-columns: 70% 1fr;
    column-gap: 2rem;
    margin: 0 2rem 0 2rem;
}

.maintoptext {
    display: grid;
    justify-content: center;
    align-self: center;
    color: #f9f5ec;
    font-size: 30px;
    border-bottom: 2px solid #f9f5ec;
}

.maintoptext p {
    margin: 2rem 0 1rem 0;
}

#articlegridlayout {
    display: grid;
    grid-template-rows: repeat(6, 30rem);
    row-gap: 2rem;
}

#articlegridlayout article {
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-content: center;
    background-color: #f9f5ec;
}

.articleimg {
    height: 26rem;
    width: 6rem;
}

.articleimg:hover {
    cursor: pointer;
}

.articlecnt {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}