/* 
Logo color: rgb(66, 121, 61) 
Topnav color: rgb(58, 106, 53)
*/

* {
    margin: 0;
    padding: 0;
}

#gdbody {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 60px 100% 400px;
}

#head1 {
    display: grid;
    width: 100%;
    grid-template-columns: 75px 75px 1fr 250px;
    column-gap: 5px;
    background-color: rgb(58, 106, 53);
    filter: drop-shadow(1px 1px 5px);
}

.navbar1 {
    display: grid;
    justify-self: center;
    align-self: center;
}

#logo1 {
    display: grid;
    height: 100%;
    width: 100%;
}

#logolink {
    display: grid;
    justify-content: center;

}

#logost {
    display: flex;
    width: 45px;
    height: 45px;
    align-self: center;
    border: 1px solid black;
    border-radius: 30px;
    filter: drop-shadow(1px 1px 1px black);
    transition: 0.2s;
}

#logost:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.2s;
}